.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-bar {
  background-color: #292929;
}

.custom-tooltip {
  padding: 8px 10px !important;
}

.rc-slider-mark {
  padding: 20px;
}
.rc-slider-tooltip {
  color: red !important;
}

.early_year {
  color: gold;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 2.3rem;
}

.late_year {
  color: blue;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 2.3rem;
}

.headline {
  font-family: inherit;
  margin-bottom: 40px;
  margin-top: 40px;
}

.navbar-brand {
  font-size: 1.5rem !important;
}

.negative-return {
  color: red;
}
